body {
    min-height: 100vh;
    background: #042453;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

.recipe-container {
    background-color: #ffffff;
    width: 450px;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}
.search-box{
    display: flex;
    margin-bottom: 15px;
}

.search-box input {
    flex: 1;
    padding: 10px;
    border-radius: 6px 0 0 6px;
    border: 1px solid #ccc;
}
